server:
  port: 8084
  servlet:
      #为了防止一会在服务之间跳转导致Cookie打架（因为所有服务地址都是localhost，都会存JSESSIONID）
      #这里修改一下context-path，这样保存的Cookie会使用指定的路径，就不会和其他服务打架了
      #但是注意之后的请求都得在最前面加上这个路径
      context-path: /sso
spring:
  application:
    name: security-service
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/summer
    username: root
    password: 575888hmq
  cloud:
    nacos:
      discovery:
        # 配置Nacos注册中心地址
        server-addr: localhost:8848
feign:
  circuitbreaker:
    enabled: true
